a:hover {
    text-decoration: none !important;
    letter-spacing: 1px !important;
    transition: all 0.5s !important;
}

a {
    color: black !important;
    transition: all 1.0s !important;
}

.dropdown-content {
    background-color: #FFFFFF !important;
    margin: 0 !important;
    display: none;
    min-width: 300px !important;
    /* Changed this to accomodate content width */
    max-height: auto !important;
    margin-left: -1px !important;
    /* Add this to keep dropdown in line with edge of navbar */
    overflow: hidden !important;
    /* Changed this from overflow-y:auto; to overflow:hidden; */
    opacity: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 1 !important;
    will-change: width, height;
}

body {
    min-height: 100vh !important;
    flex-direction: column !important;
}

.card {
    z-index: 0 !important;
    width: 310px;
    height: 350px;
}

footer {
    position: fixed !important;
    width: 100%;
    bottom: 0;
    background: rgb(200, 200, 200) !important;
}

* {
    font-family: raleway;
}

.card {
    transition: all 1.0s !important;
}

.card:hover {
    transition: all 0.5s !important;
    transform: scale(1.05) !important;
}

.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 40%;
    top: 25%;
    width: 100%;
    height: 100%;
    z-index: 9;
}

.hovobtn {
    transition: all 2.0s;
}

.hovobtn:hover {
    transition: all 0.5s;
    letter-spacing: 1px;
}